@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #217337;
  --foreground: #000000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Outfit, Arial, Helvetica, sans-serif;
}

button {
  @apply px-4 py-2 bg-light font-semibold rounded-md cursor-pointer;
}
